.four-products {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.four-products ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 20px;
}
.four-products li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 250px;
}

/* ////////////////////////////////////////////////////////////////////////////
/////////////////////////////// Responsive Zone ///////////////////////////////
//////////////////////////////////////////////////////////////////////////// */
@media (max-width: 1150px) {
  .four-products ul {
    gap: 10px;
  }
  .four-products .item {
    height: 280px;
  }
  .four-products p {
    font-size: 12px;
  }
  .four-products .price-details p {
    font-size: 15px;
  }
}
@media (max-width: 900px) {
  .four-products ul {
    gap: 10px;
  }
  .four-products .item {
    height: 280px;
  }
  .four-products p {
    font-size: 11px;
  }
  .four-products .price-details p {
    font-size: 12px;
  }
}
@media (max-width: 750px) {
  .four-products ul {
    gap: 5px;
  }
  .four-products .item {
    height: 240px;
  }
  .four-products p {
    font-size: 10px;
  }
  .four-products .price-details p {
    font-size: 10px;
  }
}
@media (max-width: 650px) {
  .four-products .item {
    height: 210px;
  }
  .four-products p {
    font-size: 8px;
  }
  .four-products .price-details {
    flex-direction: column-reverse;
  }
  .four-products .price-details p {
    font-size: 10px;
  }
}
@media (max-width: 450px) {
  .four-products .item {
    height: 150px;
  }
  .four-products p {
    font-size: 6px;
  }
  .four-products .price-details p {
    font-size: 10px;
  }
}
@media (max-width: 380px) {
  .four-products .item {
    height: 120px;
    padding: 5px;
  }
  .four-products p {
    font-size: 4px;
  }
  .four-products .price-details p {
    font-size: 6px;
  }
}
