.filter-bar {
  position: absolute;
  top: 60px;
  right: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: #efefef;
  z-index: 1;
  border-radius: 20px;
  border: 1px solid #c5c5c5;
}
.filter-bar ul {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
  flex-direction: column;
}
.filter-bar li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter-link {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 50px;
  border-radius: 10px;
}
.filter-link:hover {
  background: #b5b5b5;
}
.active {
  background: #d3d3d3;
}

/* ////////////////////////////////////////////////////////////////////////////
/////////////////////////////// Responsive Zone ///////////////////////////////
//////////////////////////////////////////////////////////////////////////// */

@media (max-width: 750px) {
  .filter-bar {
    right: 40px;
    width: 150px;
    height: 300px;
  }
  .filter-bar ul {
    height: 100%;
  }
  .filter-link {
    font-size: 14px;
    width: 145px;
    height: 30px;
  }
}

@media (max-width: 550px) {
  .filter-bar {
    border-radius: 10px;
    top: 40px;
    right: 15px;
    width: 100px;
    height: 200px;
  }
  .filter-link {
    font-size: 9px;
    width: 90px;
    height: 15px;
    border: none;
    outline: none;
  }
}
