.product-item-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 200px;
  background: #ffffff;
  border-radius: 5px;
}
.product-item-card:hover {
  transform: scale(1.05);
}
.product-item-card img {
  max-width: 100%;
  padding: 2px;
}
.product-item-card-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  text-align: center;
  color: black;
}

/* ////////////////////////////////////////////////////////////////////////////
/////////////////////////////// Responsive Zone ///////////////////////////////
//////////////////////////////////////////////////////////////////////////// */
@media (max-width: 1200px) {
  .product-item-card {
    padding: 0 5px;
    width: 160px;
    height: 180px;
  }
}
@media (max-width: 750px) {
  .product-item-card {
    font-size: 14px;
    width: 140px;
    height: 160px;
  }
}
@media (max-width: 650px) {
  .product-item-card {
    font-size: 12px;
    width: 120px;
    height: 140px;
  }
}
@media (max-width: 550px) {
  .product-item-card {
    font-size: 10px;
    width: 100px;
    height: 120px;
  }
}
@media (max-width: 400px) {
  .product-item-card {
    padding: 0 5px;
    width: 80px;
    height: 120px;
  }
}
