.login-signup-container {
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0px;
  background: #fff;
  right: 0;
  gap: 20px;
  background-image: url("../../../public/assets/img/background_login.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.back {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 5px 20px 5px 10px;
  border-radius: 20px;
  border: none;
  background-color: #ffffff;
}
.back-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 5px;
  color: #000000;
  font-size: 20px;
}
.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: none;
  box-shadow: 0 0 10px #fff;
  border-radius: 15px;
  padding: 20px;
  gap: 20px;
  background: #ffffff23;
}
.login h1 {
  color: #ffffff;
  font-size: 45px;
}
.login form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.login input {
  width: 100vw;
  max-width: 500px;
  height: 40px;
  font-size: 18px;
  padding: 0 0 0 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #ffffff;
  color: #000000;
  background: #ffffff76;
}
.login button {
  width: 100vw;
  max-width: 150px;
  height: 30px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  background: #ffffff;
}
.login button:hover {
  background: #e9e9e9;
}
.login button:active {
  background: #c1c1c1;
}
.signup {
  font-size: 18px;
}
.signup span {
  color: #fff;
  cursor: pointer;
}

/* ////////////////////////////////////////////////////////////////////////////
/////////////////////////////// Responsive Zone ///////////////////////////////
//////////////////////////////////////////////////////////////////////////// */

@media (max-width: 600px) {
  .login-signup-container {
    height: 100%;
    width: 100vw;
  }
  .back-link {
    gap: 5px;
    font-size: 20px;
  }
  .login h1 {
    font-size: 40px;
  }
  .login form {
    gap: 10px;
  }
  .login input {
    max-width: 400px;
    height: 35px;
    font-size: 16px;
    border-radius: 10px;
  }
  .login button {
    font-size: 16px;
  }
  .signup {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .login input {
    max-width: 280px;
  }
  .login button {
    font-size: 15px;
  }
  .signup {
    font-size: 12px;
    color: #ffffff;
  }
}
@media (max-width: 400px) {
  .back {
    top: 10px;
    left: 10px;
    padding: 0px 10px 0px 0px;
    border-radius: 20px;
  }
  .back a {
    font-size: 15px;
  }
  .login {
    padding: 10px;
  }
  .login input {
    max-width: 280px;
    height: 30px;
  }
  .login button {
    font-size: 15px;
  }
  .signup {
    font-size: 12px;
    color: #ffffff;
  }
}
