.pay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 70vh;
  max-height: 100%;
}
.pay-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  height: 100%;
  margin: 20px;
}
.pay-top {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.pay-top p {
  font-size: 30px;
}
.pay-container hr {
  width: 100%;
  height: 2px;
  background: #626262;
  border: none;
}
.pay-container form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 1px solid #c9c9c9;
  border-radius: 10px;
}
.pay-input-container {
  display: flex;
  width: 100%;
  max-width: 780px;
  justify-content: center;
  gap: 20px;
}
.pay-input-container input {
  border-radius: 5px;
  width: 100%;
  font-size: 22px;
  padding: 0 10px;
  border: none;
  height: 35px;
}
.pay-input-container .mmyy-input {
  width: 120px;
}
.pay-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.pay-cards img {
  width: 75px;
  height: 45px;
  border: 1px solid #cecece;
  border-radius: 5px;
}
.pay-buttons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.pay-buttons button,
.pay-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 200px;
  height: 45px;
  font-size: 20px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  border: 1px solid #d8d8d8;
  font-weight: 600;
  color: #000;
}
.pay-buttons button:nth-child(1) {
  color: #ff0000;
}
.pay-buttons button:hover,
.pay-btn:hover {
  background: #dddddd;
}
.pay-buttons button:active,
.pay-btn:active {
  background: #bebebe;
}

/* ////////////////////////////////////////////////////////////////////////////
/////////////////////////////// Responsive Zone ///////////////////////////////
//////////////////////////////////////////////////////////////////////////// */

@media (max-width: 700px) {
  .pay {
    margin: 0 20px;
  }
  .pay-top p {
    font-size: 20px;
  }
  .pay-container form {
    margin-top: 30px;
    border-radius: 5px;
  }
  .pay-input-container {
    gap: 10px;
  }
  .pay-input-container input {
    border-radius: 3px;
    font-size: 20px;
    height: 30px;
  }
  .pay-input-container .mmyy-input {
    width: 120px;
  }
  .pay-cards {
    gap: 5px;
  }
  .pay-cards img {
    width: 60px;
    height: 35px;
    border-radius: 4px;
  }
  .pay-buttons button,
  .pay-btn {
    width: 180px;
    height: 40px;
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .pay {
    margin: 0 10px;
  }
  .pay-top p {
    font-size: 18px;
  }
  .pay-container form {
    margin-top: 20px;
  }
  .pay-input-container {
    gap: 8px;
  }
  .pay-input-container input {
    font-size: 18px;
    height: 28px;
  }
  .pay-input-container .mmyy-input {
    width: 100px;
  }
  .pay-cards img {
    width: 50px;
    height: 30px;
  }
  .pay-buttons button,
  .pay-btn {
    width: 150px;
    height: 35px;
    font-size: 16px;
  }
}
@media (max-width: 420px) {
  .pay {
    margin: 0 5px;
  }
  .pay-top p {
    font-size: 15px;
  }
  .pay-container form {
    margin-top: 18px;
    padding: 10px;
  }
  .pay-input-container {
    gap: 5px;
    padding: 0 5px;
  }
  .pay-input-container input {
    font-size: 15px;
    height: 25px;
  }
  .pay-input-container .mmyy-input {
    width: 80px;
  }
  .pay-cards img {
    width: 45px;
    height: 25px;
  }
  .pay-buttons {
    gap: 5px;
  }
  .pay-buttons button,
  .pay-btn {
    width: 120px;
    height: 30px;
    font-size: 14px;
  }
}
