.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 1440px;
  height: 100%;
  margin: 0 20px;
  top: 0;
}

/* ////////////////////////////////////////////////////////////////////////////
/////////////////////////////// Responsive Zone ///////////////////////////////
//////////////////////////////////////////////////////////////////////////// */

@media (max-width: 1150px) {
  .product {
    margin: 0 5px;
    top: 0;
  }
}
