.search-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 1px solid #767676;
  padding: 5px 10px;
  border-radius: 100px;
  background: #fff;
  max-width: 600px;
  width: 100%;
  margin: 0 15px;
}
.search-input-container i {
  font-size: 25px;
  color: #939393;
}
.search-input-container input {
  font-size: 23px;
  width: 100%;
  border: none;
  outline: none;
  background: #00000000;
}

/* ////////////////////////////////////////////////////////////////////////////
/////////////////////////////// Responsive Zone ///////////////////////////////
//////////////////////////////////////////////////////////////////////////// */

@media (max-width: 700px) {
  .search-input-container {
    height: 30px;
    padding: 5px 8px;
  }
  .search-input-container i {
    font-size: 15px;
  }
  .search-input-container input {
    font-size: 20px;
  }
}
@media (max-width: 550px) {
  .search-input-container {
    height: 22px;
  }
  .search-input-container i {
    font-size: 13px;
  }
  .search-input-container input {
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  .search-input-container {
    padding: 5px 8px;
  }
  .search-input-container i {
    font-size: 12px;
  }
  .search-input-container input {
    font-size: 13px;
  }
}
@media (max-width: 400px) {
  .search-input-container {
    height: 20px;
    padding: 0px 5px;
  }
  .search-input-container i {
    font-size: 10px;
  }
  .search-input-container input {
    font-size: 12px;
  }
}
