.header {
  position: relative;
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.logo-input-filters {
  width: 100vw;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.logo-input-filters img {
  width: 120px;
}
.filters-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 180px;
}
.user {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #505050;
  border-radius: 100%;
  width: 35px;
  height: 35px;
}
.user i {
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}
.cart-icon {
  text-decoration: none;
}
.cart-icon i,
button i {
  display: flex;
  font-size: 30px;
  color: black;
}
.filters-cart i:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.filters-cart p {
  position: absolute;
  top: 13px;
  right: 87.5px;
  font-size: 12px;
  background: #ff6565;
  color: rgb(255, 255, 255);
  padding: 0px 5px;
  border-radius: 100px;
}
.filters-cart button {
  padding: 0;
  border: none;
  background: #00000000;
}
.header-4-filters {
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 10px 20px;
}
.header-4-filters ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}
.header-4-filters li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px 0;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 7px#e6e6e6;
  border-radius: 20px;
}
.header-4-filters li:hover {
  transform: scale(1.01);
}
.header-4-filters img {
  height: 200px;
}
.main-category {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ////////////////////////////////////////////////////////////////////////////
/////////////////////////////// Responsive Zone ///////////////////////////////
//////////////////////////////////////////////////////////////////////////// */

@media (max-width: 1000px) {
  .logo-input-filters img {
    width: 100px;
  }
  .user {
    width: 30px;
    height: 30px;
  }
  .user i {
    font-size: 18px;
  }
  .cart-icon i,
  button i {
    font-size: 25px;
  }
  .filters-cart p {
    font-size: 10px;
    padding: 0px 4px;
  }
  .header-4-filters {
    display: none;
  }
}

@media (max-width: 750px) {
  .logo-input-filters img {
    width: 80px;
  }
  .filters-cart {
    min-width: 110px;
  }
  .user {
    width: 26px;
    height: 26px;
  }
  .user i {
    font-size: 15px;
  }
  .cart-icon i,
  button i {
    font-size: 20px;
  }
  .filters-cart p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    padding: 0px;
    height: 15px;
    width: 15px;
    right: 57.5px;
  }
  .header-4-filters {
    display: none;
  }
}

@media (max-width: 550px) {
  .logo-input-filters img {
    width: 60px;
  }
  .header {
    gap: 10px;
  }
  .logo-input-filters {
    padding: 5px;
  }
  .filters-cart p {
    top: 10px;
    font-size: 6px;
    height: 10px;
    width: 10px;
    right: 27.5px;
  }
  .filters-cart {
    min-width: 70px;
  }
  .user {
    width: 20px;
    height: 20px;
  }
  .user i {
    font-size: 10px;
    width: 20px;
    height: 20px;
  }
  .cart-icon i,
  button i {
    display: flex;
    font-size: 15px;
    color: black;
  }
}
