.footer {
  display: flex;
  background: linear-gradient(
    to right,
    #00000000,
    #ffffff,
    #ffffff,
    #ffffff,
    #00000000
  );
  color: #fff;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  height: 300px;
  margin-top: 40px;
  color: black;
  flex-direction: column;
  gap: 30px;
}
.footer img {
  width: 150px;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.footer-links a {
  text-decoration: none;
  color: black;
}
.footer-links li:hover {
  transform: scale(1.1);
}
.footer-icons i:hover {
  transform: scale(1.2);
}
.footer-icons a {
  font-size: 20px;
}

/* ////////////////////////////////////////////////////////////////////////////
/////////////////////////////// Responsive Zone ///////////////////////////////
//////////////////////////////////////////////////////////////////////////// */

@media (max-width: 750px) {
  .footer {
    height: 220px;
    margin-top: 30px;
    gap: 20px;
  }
  .footer img {
    width: 100px;
  }
  .footer-links {
    gap: 20px;
    font-size: 11px;
  }
  .footer-icons a {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .footer {
    height: 180px;
    margin-top: 25px;
    gap: 15px;
  }
  .footer img {
    width: 80px;
  }
  .footer-links {
    gap: 15px;
    font-size: 9px;
  }
  .footer-icons a {
    font-size: 14px;
  }
  .footer p {
    font-size: 13px;
  }
}
@media (max-width: 400px) {
  .footer {
    height: 150px;
    margin-top: 20px;
    gap: 10px;
  }
  .footer img {
    width: 60px;
  }
  .footer-links {
    gap: 10px;
    font-size: 7px;
  }
  .footer-icons a {
    font-size: 12px;
  }
  .footer p {
    font-size: 11px;
  }
}
