body {
  background: #edecec;
}
/* /////////////////////// 
 -------Resset code-------- 
 /////////////////////// */

html {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  overflow-x: hidden;
}
