.product-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 30px 0px;
}
.product-middle-description {
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: start;
  padding: 20px;
  text-align: center;
}
.product-middle h2 {
  padding: 20px;
  font-weight: 600;
  font-size: 28px;
}

/* ////////////////////////////////////////////////////////////////////////////
/////////////////////////////// Responsive Zone ///////////////////////////////
//////////////////////////////////////////////////////////////////////////// */

@media (max-width: 1150px) {
  .product-middle {
    padding: 0 10px;
  }
  .product-middle h2 {
    padding: 15px;
    font-size: 24px;
  }
  .product-middle p {
    font-size: 15px;
  }
}
@media (max-width: 750px) {
  .product-middle h2 {
    padding: 15px;
    font-size: 24px;
  }
  .product-middle p {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .product-middle h2 {
    padding: 10px;
    font-size: 20px;
  }
  .product-middle p {
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  .product-middle h2 {
    padding: 10px;
    font-size: 15px;
  }
  .product-middle p {
    font-size: 10px;
  }
}
